body {
  background: #007c7c;
}

div {
  display: block;
}

.App {
  margin: 60px auto;
  max-width: 800px;
}

.container {
  max-width: 960px;
}

.Weather {
  background: #f9f7fe;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: darkslategray;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.topnav {
  text-align: center;
  padding: 40px;
}

button {
  background-color: #007c7c;
  color: whitesmoke;
  border: transparent;
  border-radius: 10px;
}

button:hover {
  background-color: whitesmoke;
  color: #007c7c;
  cursor: grab;
}

.cityName {
  color: #007c7c;
  font-weight: bolder;
}

img {
  width: 100px;
  display: flex;
  left: 40px;
  flex-direction: column;
  margin-right: 10px;
}

.peopleComments {
  color: #007c7c;
  text-align: center;
  padding: 1px;
}

.WeatherInfo {
  margin-top: 20px;
}

h2 {
  padding: 20px;
  font-weight: lighter;
}

h1 {
  font-weight: lighter;
  padding: 5px;
}

div {
  display: block;
}

.col {
  display: fixed;
  left: 10px;
}

.currentTemp {
  font-weight: 500px;
  font-size: 52px;
  line-height: 1;
}

.Weather .units {
  position: relative;
  font-size: 10px;
  top: -32px;
}

.WeatherForecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.WeatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.WeatherForecast canvas {
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
}

canvas {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.WeatherForecast .forecast-temperature {
  color: #007c7c;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.WeatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 1.3;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 155px;
  color: darkslategray;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.WeatherInfo .temperature-container {
  align-items: center;
  margin-top: 30px;
  padding-left: 20px;
}

.Weather canvas {
  margin: 10px 0;
}
